
#par3{
    background-color: blue;
}

#par2{
    background-color: red;
}

.ortak{
    background-color: chartreuse;
}

#baslik{
    color: red;
}

#par5{
    background-color: darkgoldenrod;
}
